* {
  margin: 0;
  padding: 0;
}

/* Menu */

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand img {
  height: 55px;
  padding-left: 20px;
}

.navbar-nav li a {
  float: left;
  color: #555 !important;
  font-weight: 600;
}

.navbar-nav li a:hover {
  color: #ff9000 !important ;
}

.navbar-nav li {
  padding: 0px 10px;
}

.navbar {
  background: #fff;
}
#slider {
  width: 100%;
  position: relative;
}

.carousel-inner {
  height: 90vh;
}

.carousel-caption {
  transform: translateY(-50%);
  top: 50%;
  bottom: initial !important;
}
.carousel-caption h5 {
  font-weight: 600;
  font-size: 3em;
}

#about {
  padding: 50px 0px;
  color: #555;
}

.progress-bar {
  background: #ff9000 !important;
  border-radius: 25px;
}

.progress {
  border-radius: 25px !important;
  margin-bottom: 25px;
}

.service-bar p {
  font-weight: 600;
  margin-bottom: 5px;
}

/* Services */
#services {
  padding: 50px 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/12.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

#services h1 {
  text-align: center;
  padding-bottom: 10px;
  color: #fff;
}

#services h1::after {
  content: "";
  display: block;
  height: 3px;
  width: 180px;
  background: white !important;
  margin: 15px auto;
}

#services .icon {
  font-size: 40px;
  border: 2px solid white;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  padding: 10px;
  margin: 30px auto;
}

.service-hover .col-md-3:hover {
  background: #ff9000;
  transition: 0.5s;
  cursor: pointer;
}

/* team */

#team {
  padding: 50px 0px;
  color: #555;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
  color: #111;
}

h1::after {
  content: "";
  display: block;
  height: 3px;
  width: 180px;
  background: #ff9000 !important;
  margin: 15px auto;
}

.profile-pic .imgbox img {
  filter: grayscale(1);
}

.profile-pic .imgbox img:hover {
  filter: grayscale(0);
}
#team .fab {
  color: #ff9000 !important;
  padding: 4px;
  background: #fff !important;
  border-radius: 50%;
}

.imgbox ul li {
  display: inline-block;
  padding: 5px;
}

.profile-pic .imgbox {
  display: block;
  position: relative;
}

.imgbox ul {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 0px;
  opacity: 0;
}
.imgbox:hover ul {
  opacity: 1;
  transition: 0.5s;
}

.profile-pic h2 {
  font-size: 22px;
  font-weight: bold;
  color: #ff9000 !important;
  margin-top: 15px;
}

.profile-pic h3 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}

#promo {
  padding: 50px 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/12.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  font-size: 3em;
}

/* PricePlans */

#price {
  padding: 50px 0px;
  background: #fff;
}

#price .single-price {
  background-color: #fff;
  margin: 10px auto;
}

#price .single-price:hover {
  box-shadow: 0px 2px 20px #555;
  transition: 0.5s;
}

.price-head {
  color: #fff;
  background: #ff9000;
  text-align: center;
  padding: 10px 5px;
}
.price-head h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px;
}

.price-head p {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}
.single-price span {
  font-size: 16px;
}

.price-body {
  padding: 0px;
}

.price-body ul li {
  list-style-type: none;
  border-bottom: 2px solid #efefef;
  padding: 15px 10px;
}

.fa-check-circle {
  color: green;
  font-size: 20px;
  margin-right: 10px;
}

.fa-times-circle {
  color: red;
  font-size: 20px;
  margin-right: 10px;
}

.price-button {
  padding: 15px 15px 30px;
  text-align: center;
}

.buy-btn {
  background: #ff9000;
  display: inline-block;
  font-size: 18px;
  padding: 15px 50px;
  text-decoration: none !important;
  color: #fff !important;
  border-radius: 5px;
}

.buy-btn:hover {
  background: green;
  transition: 0, 5s;
}

#testimonial {
  padding: 50px 0px;
}
.profile {
  background: #efefef;
  padding: 70px 10px 10px;
}

.profile:hover {
  box-shadow: 0px 2px 20px #555 !important;
  transition: 0.5s;
}
.user {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile img {
  border: 10px solid white;
  position: absolute;
  top: -60px;
  left: calc(100% / 3);
}

#testimonial .row {
  margin-top: 85px;
}

.profile h3 {
  font-size: 20px;
  margin-top: 15px;
  color: #ff9000;
}

.profile span {
  font-size: 12px;
  color: #333;
}

blockquote {
  font-size: 14px;
  line-height: 25px;
}

blockquote::before {
  content: ' " ';
  font-size: 30px;
  color: #ff9000;
}

blockquote::after {
  content: ' " ';
  font-size: 30px;
  color: #ff9000;
}

/* GET IN TOUCH */

#contact {
  padding: 50px 0px;
  background: #ede9e8;
}

.contact-form {
  padding: 15px;
}

.form-control {
  border: none !important;
}

.follow {
  background: #fff;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

.follow .fab {
  color: #ff9000;
  margin: 3px;
}

.follow .fas {
  color: #ff9000;
  margin: 3px;
}

footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer a {
  color: #ff9000;
}

.fa-heart {
  color: red;
  margin: 2px;
}

/* mobile resize */
@media (max-width: 991px) {
  .mobile-resize {
    margin-top: 80px;
  }
}
@media (max-width: 480px) {
  .carousel-inner {
    height: 30vh;
  }

  .carousel-caption h5 {
    font-size: 1em;
  }

  .service-bar {
    margin-top: 30px;
  }

  .mobile-resize {
    margin-top: 80px;
  }
}
